@(currentPage: com.avaje.ebean.Page[Bepalendkenmerk_Diagnose], currentSortBy: String, currentOrder: String, currentFilter: String)




    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Geen bepalende kenmerken gevonden</em>
        </div>
        
    } else {
        
        <table class="diagnoses zebra-striped">
            <thead>
                <tr>
					<th>Bepalende kenmerken:</th>
                </tr>
            </thead>
            <tbody>

                @for(bepalendkenmerk_diagnose <- currentPage.getList) {
                    <tr>
                        <td>
							@bepalendkenmerk_diagnose.bepalendkenmerk.bepalendkenmerk_omschrijving
						</td>
                    </tr>
                }

            </tbody>
        </table>
    }
        


            