@(casusForm: Form[models.casus.Casus])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

    <h1>Voeg een casus toe</h1>
	
	@form(routes.CasusApplication.saveCasus()) {
        
        <fieldset>
        
            @inputText(casusForm("casus_omschrijving"), '_label -> "Casus omschrijving", '_help -> "")
			@textarea(casusForm("casus_definitie"), '_label -> "Casus definitie", '_help -> "", 'rows -> 5, 'cols -> 60)
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Voeg casus toe" class="btn primary"> or 
            <a href="@routes.CasusApplication.listCasus()" class="btn">Cancel</a> 
        </div>
        
    }
    
}