@(id: Long)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
	<script>
	  $( document ).ready(function() {

	  $.get( "/diagnoseoverzicht/" + @id, function(data) {
		if(data.length > 0){
			$("#diagnoseOverzichtHead").html("<tr><th>Detail:</th><th>Waarde</th></tr>");
			$.each(data, function(key, diagnoseoverzicht) {
			  $("#diagnoseOverzicht").append("<tr><td>Code</td><td>" + diagnoseoverzicht.diagnose_code + "</td></tr>");
			  $("#diagnoseOverzicht").append("<tr><td>Omschrijving</td><td>" + diagnoseoverzicht.diagnoseoverzicht_omschrijving + "</td></tr>");
			  $("#diagnoseOverzicht").append("<tr><td>Definitie</td><td>" + diagnoseoverzicht.diagnoseoverzicht_definitie + "</td></tr>");
			  $("#diagnoseOverzicht").append("<tr><td>Domein</td><td>" + diagnoseoverzicht.diagnoseklasse.diagnosedomein.diagnosedomein_code + "</td></tr>");
			  $("#diagnoseOverzicht").append("<tr><td>Klasse</td><td>" + diagnoseoverzicht.diagnoseklasse.diagnoseklasse_code + "</td></tr>");
			  $("#diagnoseOverzicht").append("<tr><td>Gezondheidspatroon</td><td>" + diagnoseoverzicht.gezondheidspatroon.gezondheidspatroon_omschrijving + "</td></tr>");
			});
		}
		else{
		  $("#diagnoseOverzichtHead").html("<tr><th>Diagnosegegevens:</th></tr>");
		  $("#diagnoseOverzicht").append("<tr><td>Geen diagnosegegevens gevonden");
		}
	  });
	  
	  $.get( "/nicdiagnose/" + @id, function(data) {
		if(data.length > 0){
			$("#nicDiagnoseHead").html("<tr><th>Interventie omschrijving:</th><th>Interventie definitie:</th><th>Interventie actie:</th></tr>");
			$.each(data, function(key, nicdiagnose) {
			  $("#nicDiagnose").append("<tr><td>" + nicdiagnose.nic.nicoverzicht[0].nicoverzicht_omschrijving + "</td><td>" + nicdiagnose.nic.nicoverzicht[0].nicoverzicht_definitie + "</td><td>" + nicdiagnose.nicactiviteit.nicactiviteit_omschrijving + "</td></tr>");
			});
		}
		else{
		  $("#nicDiagnoseHead").html("<tr><th>Interventies</th></tr>");
		  $("#nicDiagnose").append("<tr><td>Geen interventies gevonden");
		}
	  });
	  
	  $.get( "/nocdiagnose/" + @id, function(data) {
		if(data.length > 0){
			$("#nocDiagnoseHead").html("<tr><th>Zorgresultaat omschrijving:</th><th>Zorgresultaat definitie:</th><th>Zorgresultaat indicator:</th></tr>");
			$.each(data, function(key, nocdiagnose) {
			  $("#nocDiagnose").append("<tr><td>" + nocdiagnose.noc.nocoverzicht[0].nocoverzicht_omschrijving + "</td><td>" + nocdiagnose.noc.nocoverzicht[0].nocoverzicht_definitie + "</td><td>" + nocdiagnose.indicator.indicator_omschrijving + "</td></tr>");
			});
		}
		else{
		  $("#nocDiagnoseHead").html("<tr><th>Zorgresultaten:</th></tr>");
		  $("#nocDiagnose").append("<tr><td>Geen zorgresultaten gevonden");
		}
	  });
	  
	  $.get( "/bepalendkenmerk/" + @id, function(data) {
		if(data.length > 0){
			$("#bepalendKenmerkHead").html("<tr><th>Bepalende kenmerken:</th></tr>");
			$.each(data, function(key, bepalendkenmerk) {
			  $("#bepalendKenmerk").append("<tr><td>" + bepalendkenmerk.bepalendkenmerk.bepalendkenmerk_omschrijving + "</td></tr>");
			});
		}
		else{
		  $("#bepalendKenmerkHead").html("<tr><th>Bepalende kenmerken:</th></tr>");
		  $("#bepalendKenmerk").append("<tr><td>Geen bepalende kenmerken gevonden");
		}
	  });
	  
	  $.get( "/risicofactor/" + @id, function(data) {
		if(data.length > 0){
			$("#risicoFactorHead").html("<tr><th>Risicofactoren:</th></tr>");
			$.each(data, function(key, risicofactor) {
			  $("#risicoFactor").append("<tr><td>" + risicofactor.risicofactor.risicofactor_omschrijving + "</td></tr>");
			});
		}
		else{
		  $("#risicoFactorHead").html("<tr><th>Risicofactoren:</th></tr>");
		  $("#risicoFactor").append("<tr><td>Geen risicofactoren gevonden");
		}
	  });
	  
	  $.get( "/samenhangendefactor/" + @id, function(data) {
		if(data.length > 0){
			$("#samenhangendeFactorHead").html("<tr><th>Samenhangende factoren:</th></tr>");
			$.each(data, function(key, samenhangendefactor) {
			  $("#samenhangendeFactor").append("<tr><td>" + samenhangendefactor.samenhangendefactor.samenhangendefactor_omschrijving + "</td></tr>");
			});
		}
		else{
		  $("#samenhangendeFactorHead").html("<tr><th>Samenhangende factoren:</th></tr>");
		  $("#samenhangendeFactor").append("<tr><td>Geen samenhangende factoren gevonden");
		}
	  });
	});
	
	
	</script>
	
	
    <h1>Diagnose</h1>
        
	<fieldset class="form">

	<table id="diagnoseOverzicht" class="diagnoses zebra-striped">
		<thead id="diagnoseOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Diagnose gegevens laden...</th>
			</tr>
		</thead>
	</table>

	<table id="bepalendKenmerk" class="diagnoses zebra-striped">
		<thead id="bepalendKenmerkHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Bepalende kenmerken laden...</th>
			</tr>
		</thead>
	</table>
	
	<table id="risicoFactor" class="diagnoses zebra-striped">
		<thead id="risicoFactorHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Risicofactoren laden...</th>
			</tr>
		</thead>
	</table>
	
	<table id="samenhangendeFactor" class="diagnoses zebra-striped">
		<thead id="samenhangendeFactorHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Samenhangende factoren laden...</th>
			</tr>
		</thead>
	</table>
	
	<table id="nicDiagnose" class="diagnoses zebra-striped">
		<thead id="nicDiagnoseHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Interventies laden...</th>
			</tr>
		</thead>
	</table>
	
	<table id="nocDiagnose" class="diagnoses zebra-striped">
		<thead id="nocDiagnoseHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> zorgresultaten laden...</th>
			</tr>
		</thead>
	</table>
	
	</fieldset>
	
	<div class="actions">
		<a href="@routes.Application.list()" class="btn">Terug</a> 
	</div>
}
