@(id: Long, casusForm: Form[Casus])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
	<script src="@routes.Assets.at("javascripts/editCasusform.js")" type="text/javascript"></script>
    <h1>Edit casus</h1>
    
    @form(routes.CasusApplication.updateCasus(id)) {
        
        <fieldset>
        
            @inputText(casusForm("casus_omschrijving"), '_label -> "Casus omschrijving", '_help -> "")
			@textarea(casusForm("casus_definitie"), '_label -> "Casus definitie", '_help -> "", 'rows -> 5, 'cols -> 60)
            
        </fieldset>
        
		<ul id="tasks"></ul>
		
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.CasusApplication.listCasus()" class="btn">Cancel</a> 
        </div>	
        
    }
    
    @form(routes.CasusApplication.deleteCasus(id), 'class -> "topRight") {
        <input type="submit" value="Delete this diagnose" class="btn danger">
    }
    
}
