@(form: Form[LoginApplication.Login])

@mainLoggedOut {
	@helper.form(routes.LoginApplication.authenticate) {
		<h1>Login</h1>

		@if(form.hasGlobalErrors) {
		<p class="error">@form.globalError.message</p>
		<br />
		} 
		
		@if(flash.contains("success")) {
		<p class="success">@flash.get("success")</p>
		<br />
		}

		Gebruikersnaam:
		<p>
			<input type="text" name="username" placeholder="Gebruikersnaam"
				value="@form("username").value">
		</p>
		<br />
		Wachtwoord:
		<p>
			<input type="password" name="password" placeholder="Wachtwoord">
		</p>
		<br />
		<p>
			<button type="submit" class="btn primary">Login</button>
		</p>
	}
}