@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>NANDA/NIC/NOC</title>
        
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        @*************************************
		<link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")'>
        *************************************@
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
		@*************************************
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        *************************************@
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    NANDA/NIC/NOC
                </a>
				 | 
				<a href="@routes.Application.list()">
					Diagnose lijst
				</a>
				 | 
				<a href="@routes.CasusApplication.listCasus()">
                    Casus lijst
                </a>
            </h1>
        </header>

        <section id="main">
			@content
		</section>
    </body>
</html>
