@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>NANDA/NIC/NOC</title>
        
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        @*************************************
		<link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")'>
        *************************************@
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
		
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
		@*************************************
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        *************************************@
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<script>
	function nl2br (str, is_xhtml) {   
		var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';    
		return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
	}
	</script>
    </head>
    <body>

        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    NANDA/NIC/NOC
                </a>
				 | 
				<a href="@routes.Application.list()">
					Diagnose lijst
				</a>
				 | 
				<a href="@routes.CasusApplication.listCasus()">
                    Casus lijst
                </a>
				 |
				<a href="@routes.VerpleegkundigeApplication.listCasusVerpleegkundige()">
                    Verpleegkundige
                </a>
				 | 
                <a href="@routes.Application.logout()">Logout</a>
				 |				 
				<img src="@routes.Assets.at("images/erasmus_logo.png")" style="height: 36px;"/>
				<img src="@routes.Assets.at("images/hanze_logo.png")" style="height: 36px;"/>
				<img src="@routes.Assets.at("images/lectoraat-verpleegkundige-logo.png")" style="height: 36px;"/>				
            </h1>
        </header>

        <section id="main">
			@content
		</section>
    </body>
</html>
