@(currentPage: com.avaje.ebean.Page[Nic_Diagnose], currentSortBy: String, currentOrder: String, currentFilter: String)



@main {
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Geen NIC gevonden</em>
        </div>
        
    } else {
        
        <table class="diagnoses zebra-striped">
            <thead>
                <tr>
					<th>Interventie omschrijving</th>
					<th>Interventie definitie</th>
					<th>Activiteit</th>
                </tr>
            </thead>
            <tbody>

                @for(nic_diagnose <- currentPage.getList) {
                    <tr>
                        <td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
                    </tr>
                }

            </tbody>
        </table>
    }
        
}

            