@(currentPage: com.avaje.ebean.Page[Samenhangendefactor_Diagnose], currentSortBy: String, currentOrder: String, currentFilter: String)




    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Geen samenhangende factors gevonden</em>
        </div>
        
    } else {
        
        <table class="diagnoses zebra-striped">
            <thead>
                <tr>
					<th>Samenhangende factors:</th>
                </tr>
            </thead>
            <tbody>

                @for(samenhangendefactor_diagnose <- currentPage.getList) {
                    <tr>
                        <td>
							@samenhangendefactor_diagnose.samenhangendefactor.samenhangendefactor_omschrijving
						</td>
                    </tr>
                }

            </tbody>
        </table>
    }
        


            