@(id: Long)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
<script>

  function getCasus(){
  	  $.get( "/verpleegkundigecasusjson/" + @id, function(data) {
		if(data.length > 0){
			$("#casusOverzichtHead").html("<tr><th>Casus detail:</th><th>Casus waarde:</th></tr>");
			$.each(data, function(key, casus) {
			  $("#casusOverzicht").append("<tr><td>Casus omschrijving</td><td>" + casus.casus_omschrijving + "</td></tr><tr><td>Casus definitie</td><td>" + casus.casus_definitie + "</td></tr>");
			});
		}
		else{
		  $("#casusOverzichtHead").html("<tr><th>Casus:</th></tr>");
		  $("#casusOverzicht").append("<tr><td>Geen casus gevonden");
		}
	  });
  }
  
  function getCasusDiagnose(){
  	  $.get( "/verpleegkundigecasusdiagnosejson/" + @id, function(data) {
		if(data.length > 0){
			$("#diagnoseOverzichtHead").html("<tr><th>Diagnose omschrijving:</th><th>Diagnose definitie:</th><th>Diagnose verwijderen</th></tr>");
			$("#diagnoseOverzichtBody").html("");
			$.each(data, function(key, casusdiagnose) {
			  if(casusdiagnose.diagnose !== null){
			    $("#diagnoseOverzichtBody").append("<tr><td>" + casusdiagnose.diagnose.diagnoseoverzicht[0].diagnoseoverzicht_omschrijving + "</td><td>" + casusdiagnose.diagnose.diagnoseoverzicht[0].diagnoseoverzicht_definitie + "</td><td><a class=link name=" + casusdiagnose.casus_diagnose_id + ">Verwijderen</a></td></tr>");
			  }
			});
		}
		else{
		  $("#diagnoseOverzichtHead").html("<tr><th>Diagnoses</th></tr>");
		  $("#diagnoseOverzichtBody").html("<tr><td>Geen diagnoses gevonden");
		}
	  });
  }
  
  function getCasusNIC(){
  	  $.get( "/verpleegkundigecasusnicjson/" + @id, function(data) {
		if(data.length > 0){
			$("#NICOverzichtHead").html("<tr><th>Interventie omschrijving:</th><th>Interventie definitie:</th><th>Interventie actie:</th><th>Interventie verwijderen</th></tr>");
			$("#NICOverzichtBody").html("");
			$.each(data, function(key, casusnic) {
			  $("#NICOverzichtBody").append("<tr><td>" + casusnic.nic.nicoverzicht[0].nicoverzicht_omschrijving + "</td><td>" + casusnic.nic.nicoverzicht[0].nicoverzicht_definitie + "</td><td>"+ casusnic.nicactiviteit.nicactiviteit_omschrijving +"</td><td><a class=link name=" + casusnic.casus_nic_id + ">Verwijderen</a></td></tr>");
			});
		}
		else{
		  $("#NICOverzichtHead").html("<tr><th>Interventies</th></tr>");
		  $("#NICOverzichtBody").html("<tr><td>Geen interventies gevonden");
		}
	  });
  }
  
  function getCasusNOC(){
  	  $.get( "/verpleegkundigecasusnocjson/" + @id, function(data) {
		if(data.length > 0){
			$("#NOCOverzichtHead").html("<tr><th>Zorgresultaat omschrijving:</th><th>Zorgresultaat definitie:</th><th>Zorgresultaat indicator:</th><th>Zorgresultaat verwijderen</th></tr>");
			$("#NOCOverzichtBody").html("");
			$.each(data, function(key, casusnoc) {
			  $("#NOCOverzichtBody").append("<tr><td>" + casusnoc.noc.nocoverzicht[0].nocoverzicht_omschrijving + "</td><td>" + casusnoc.noc.nocoverzicht[0].nocoverzicht_definitie + "</td><td>"+ casusnoc.indicator.indicator_omschrijving +"</td><td><a class=link name=" + casusnoc.casus_noc_id + ">Verwijderen</a></td></tr>");
			});
		}
		else{
		  $("#NOCOverzichtHead").html("<tr><th>Zorgresultaten</th></tr>");
		  $("#NOCOverzichtBody").html("<tr><td>Geen zorgresultaten gevonden");
		}
	  });
  }
  
  function getCasusOpmerkingen(){
  	  $.get( "/verpleegkundigecasusopmerkingenjson/" + @id, function(data) {
		if(data.length > 0){
			$("#OpmerkingenOverzichtHead").html("<tr><th>Opmerking:</th><th>Datum:</th><th>Opmerking verwijderen</th></tr>");
			$("#OpmerkingenOverzichtBody").html("");
			$.each(data, function(key, casusopmerkingen) {
			  var date = new Date(casusopmerkingen.casusopmerkingdatum);
			  $("#OpmerkingenOverzichtBody").append("<tr><td>" + casusopmerkingen.casusopmerking + "</td><td>" + date + "</td><td><a class=link name=" + casusopmerkingen.casusopmerkingen_id + ">Verwijderen</a></td></tr>");
			});
		}
		else{
		  $("#OpmerkingenOverzichtHead").html("<tr><th>Opmerkingen</th></tr>");
		  $("#OpmerkingenOverzichtBody").html("<tr><td>Geen opmerkingen gevonden");
		}
	  });
  }

	$( document ).ready(function() {
		getCasus();
		getCasusDiagnose();
		getCasusNIC();
		getCasusNOC();
		getCasusOpmerkingen();
	});
	
</script>
    <h1>Edit casus</h1>
        
	<table id="casusOverzicht" class="diagnoses zebra-striped">
		<thead id="casusOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Casus gegevens laden...</th>
			</tr>
		</thead>
	</table>
	<hr />
	
	<h2>Diagnoses</h2>
	<table id="diagnoseOverzicht" class="diagnoses zebra-striped">
		<thead id="diagnoseOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Diagnoses laden...</th>
			</tr>
		</thead>
		<tbody id="diagnoseOverzichtBody">
		
		</tbody>
	</table>
	Diagnose toevoegen
	<hr />
	
	<h2>NIC</h2>
	<table id="NICOverzicht" class="diagnoses zebra-striped">
		<thead id="NICOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Interventies laden...</th>
			</tr>
		</thead>
		<tbody id="NICOverzichtBody">
		
		</tbody>
	</table>
	Interventie toevoegen
	<hr />
	
	<h2>NOC</h2>
		<table id="NOCOverzicht" class="diagnoses zebra-striped">
		<thead id="NOCOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Zorgresultaten laden...</th>
			</tr>
		</thead>
		<tbody id="NOCOverzichtBody">
		
		</tbody>
	</table>
	Zorgresultaat toevoegen
	<hr />
	
	<h2>Opmerkingen</h2>
		<table id="OpmerkingenOverzicht" class="diagnoses zebra-striped">
		<thead id="OpmerkingenOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Opmerkingen laden...</th>
			</tr>
		</thead>
		<tbody id="OpmerkingenOverzichtBody">
		
		</tbody>
	</table>
	<textarea name="opmerking" id="opmerking"></textarea><br />
	<a name="saveOpmerking" id="saveOpmerking" class="link">Opmerking toevoegen</a>
	
	<div class="actions">
		<a href="@routes.VerpleegkundigeApplication.listCasusVerpleegkundige()" class="btn">Terug</a> 
	</div>	
    
	<script>
	
	$("#diagnoseOverzicht").on("click", function(event){
		if(event.target.name != undefined){
			alert(event.target.name);
		}
	});
	
	$("#NICOverzicht").on("click", function(event){
		if(event.target.name != undefined){
			$.post( "/verpleegkundigedeletecasusnic/"+event.target.name )
			.done(function( data ) {
				getCasusNIC();
			});
		}
	});
	
	$("#NOCOverzicht").on("click", function(event){
		if(event.target.name != undefined){
			$.post( "/verpleegkundigedeletecasusnoc/"+event.target.name )
			.done(function( data ) {
				getCasusNOC();
			});
		}
	});
	
	$("#OpmerkingenOverzicht").on("click", function(event){
		if(event.target.name != undefined){
			$.post( "/verpleegkundigedeletecasusopmerking/"+event.target.name )
			.done(function( data ) {
				getCasusOpmerkingen();
			});
		}
	});
	
	$("#saveOpmerking").on("click", function(event){
	  if( $("#opmerking").val() ) {
		$.post( "/verpleegkundigesavecasusopmerking/"+@id, { opmerking: $("#opmerking").val() } )
		  .done(function( data ) {
		    $("#opmerking").val("");
			getCasusOpmerkingen();
		});
      }
	});
	
	</script>
	
}
