@(currentPage: com.avaje.ebean.Page[Casus], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.VerpleegkundigeApplication.listCasusVerpleegkundige(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = { <th class=@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"} id=@key><a href=@link(0, key)>@title</a></th> }

@main {
	<script>
	var x = 0;
	  $( document ).ready(function() {
		x = 0;
		  $.get( "/verpleegkundigecasus", function(data) {
			if(data.casus.length > 0){
				$("#casusOverzichtBody").html("");
				$("#casusOverzichtHead").html("<tr>@header("casus_omschrijving", "Casus omschrijving")@header("casus_definitie", "Casus definitie")@header("casus_begindatum", "Datum")</tr>");
				$.each(data.casus, function(key, casus) {
				var date = new Date(casus.casus_begindatum);
				  $("#casusOverzichtBody").append("<tr><td>" + casus.casus_omschrijving + "</td><td>" + casus.casus_definitie + "</td><td>" + date + "</td></tr>");
				});
			}
			else{
			  $("#casusOverzichtHead").html("<tr><th>Casussen</th></tr>");
			  $("#casusOverzicht").append("<tr><td>Geen casussen gevonden");
			}
		  });
	  });
    </script>
	
    <h1 id="homeTitle">@Messages("diagnose.casuslist.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Casus">
            <input type="submit" id="searchsubmit" value="Zoeken" class="btn primary">
        </form>
        
    </div>
    
	<table id="casusOverzicht" class="diagnoses zebra-striped">
		<thead id="casusOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Casussen laden...</th>
			</tr>
		</thead>
		<tbody id="casusOverzichtBody">
		
		</tbody>
	</table>
	
	<div id="eggs">
	  Click here
	</div>
	
	<script>
	  $( "#eggs" ).mouseup(function() {
		if(x == 0){
		  x = 1;
		  $.get( "/verpleegkundigecasus?p=1", function(data) {
			if(data.casus.length > 0){
				$("#casusOverzichtBody").html("");
				$("#casusOverzichtHead").html("<tr>@header("casus_omschrijving", "Casus omschrijving")@header("casus_definitie", "Casus definitie")@header("casus_begindatum", "Datum")</tr>");
				$.each(data.casus, function(key, casus) {
					var date = new Date(casus.casus_begindatum);
				  $("#casusOverzichtBody").append("<tr><td>" + casus.casus_omschrijving + "</td><td>" + casus.casus_definitie + "</td><td>" + date + "</td></tr>");
				});
			}
			else{
			  $("#casusOverzichtHead").html("<tr><th>Casussen</th></tr>");
			  $("#casusOverzicht").append("<tr><td>Geen casussen gevonden");
			}
		  });
		}
		else if(x == 1){
		  x = 0;
		  $.get( "/verpleegkundigecasus?p=0", function(data) {
			if(data.casus.length > 0){
				$("#casusOverzichtBody").html("");
				$("#casusOverzichtHead").html("<tr>@header("casus_omschrijving", "Casus omschrijving")@header("casus_definitie", "Casus definitie")@header("casus_begindatum", "Datum")</tr>");
				$.each(data.casus, function(key, casus) {
				var date = new Date(casus.casus_begindatum);
				  $("#casusOverzichtBody").append("<tr><td>" + casus.casus_omschrijving + "</td><td>" + casus.casus_definitie + "</td><td>" + date + "</td></tr>");
				});
			}
			else{
			  $("#casusOverzichtHead").html("<tr><th>Casussen</th></tr>");
			  $("#casusOverzicht").append("<tr><td>Geen casussen gevonden");
			}
		  });
		}
	  });
	</script>
	
	<div id="pagination" class="pagination">
		<ul>
			@if(currentPage.hasPrev) {
				<li class="prev">
					<a href="#">&larr; Previous</a>
				</li>
			} else {
				<li class="prev disabled">
					<a>&larr; Previous</a>
				</li>
			}
			<li class="current">
				<a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
			</li>
			@if(currentPage.hasNext) {
				<li class="next">
					<a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
				</li>
			} else {
				<li class="next disabled">
					<a>Next &rarr;</a>
				</li>
			}
		</ul>
	</div>
	
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="casussen zebra-striped">
            <thead>
                <tr>
                    @header("casus_omschrijving", "Casus omschrijving")
                    @header("casus_definitie", "Casus definitie")
                    @header("casus_begindatum", "Datum")
                </tr>
            </thead>
            <tbody>

                @for(casus <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.CasusApplication.editCasus(casus.casus_id )">@casus.casus_omschrijving</a></td>
                        <td>
                            @if(casus.casus_definitie == null) {
                                <em>-</em>
                            } else{
								@casus.casus_definitie
							}
							
                        </td>
                        <td>
                            @if(casus.casus_begindatum == null) {
                                <em>-</em>
                            } else {
                                @casus.casus_begindatum
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }
}

            