@(id: Long)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
<script>
	$( document ).ready(function() {
	  $.get( "/verpleegkundigecasusjson/" + @id, function(data) {
		if(data.length > 0){
			$("#casusOverzichtHead").html("<tr><th>Casus detail:</th><th>Casus waarde:</th></tr>");
			$.each(data, function(key, casus) {
			  $("#casusOverzicht").append("<tr><td>Casus omschrijving</td><td>" + casus.casus_omschrijving + "</td></tr><tr><td>Casus definitie</td><td>" + casus.casus_definitie + "</td></tr>");
			});
		}
		else{
		  $("#casusOverzichtHead").html("<tr><th>Casus:</th></tr>");
		  $("#casusOverzicht").append("<tr><td>Geen casus gevonden");
		}
	  });
	  
	  $.get( "/vepleegkundigecasusdiagnosejson/" + @id, function(data) {
		if(data.length > 0){
			$("#diagnoseOverzichtHead").html("<tr><th>Diagnose omschrijving:</th><th>Diagnose definitie:</th></tr>");
			$.each(data, function(key, casusdiagnose) {
			  $("#diagnoseOverzicht").append("<tr><td>" + casusdiagnose.diagnose.diagnoseoverzicht[0].diagnoseoverzicht_omschrijving + "</td><td>" + casusdiagnose.diagnose.diagnoseoverzicht[0].diagnoseoverzicht_definitie + "</td></tr>");
			});
		}
		else{
		  $("#diagnoseOverzichtHead").html("<tr><th>Diagnoses</th></tr>");
		  $("#diagnoseOverzicht").append("<tr><td>Geen diagnoses gevonden");
		}
	  });
	});
</script>
    <h1>Edit casus</h1>
        
	<table id="casusOverzicht" class="diagnoses zebra-striped">
		<thead id="casusOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Casus gegevens laden...</th>
			</tr>
		</thead>
	</table>
	<hr />
	
	<h2>Diagnoses</h2>
	<table id="diagnoseOverzicht" class="diagnoses zebra-striped">
		<thead id="diagnoseOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Diagnoses laden...</th>
			</tr>
		</thead>
	</table>
	Diagnose toevoegen
	<hr />
	
	<h2>NIC</h2>
	<table id="NICOverzicht" class="diagnoses zebra-striped">
		<thead id="NICOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Interventies laden...</th>
			</tr>
		</thead>
	</table>
	Interventie toevoegen
	<hr />
	
	<h2>NOC</h2>
		<table id="NOCOverzicht" class="diagnoses zebra-striped">
		<thead id="NOCOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Zorgresultaten laden...</th>
			</tr>
		</thead>
	</table>
	Zorgresultaat toevoegen
	<hr />
	
	<h2>Opmerkingen</h2>
		<table id="OpmerkingenOverzicht" class="diagnoses zebra-striped">
		<thead id="OpmerkingenOverzichtHead">
			<tr>
				<th><img src="@routes.Assets.at("images/ajax-loader.gif")" /> Opmerkingen laden...</th>
			</tr>
		</thead>
	</table>
	<div class="actions">
		<a href="@routes.VerpleegkundigeApplication.listCasusVerpleegkundige()" class="btn">Terug</a> 
	</div>	
    
}
